body {
  background-color: #F3F4F6;
  font-size: 18px;
}
h1 {
  color: #1E3A8A;
  font-size: 40px
  text-align: center;
}
h2 {
  color: #1E3A8A;
  font-size: 28px
  text-align: center;
}
p1 {
  color: #6B7280;
  line-height: 1.6;
}
p2 {
 color: #1F2937;
  line-height: 1.6;
}
